.container .wrapper,
.container-fluid .wrapper {
    position: relative;
    height: 220px;
    width: 70%;
    border-radius: 10px;
    background: #f5f5f5;
    border: 2px dashed #C2CDDA;
    display: flex;
    align-items: right;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    padding: 2px;
}
.modal-form{
    width: 100%;
    min-width: 69%;
    min-height: 70%;
}
.modalbodyform{
    line-height: 0.5;
}
.wrapper.active {
    border: none;
}
.wrapper.active:hover > .clear-image-preview i {
    display: block;
}
.wrapper .clear-image-preview i:hover {
    color: #E74C3C;
}
.wrapper .image-preview {
    position: absolute;
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .content {
    text-align: left;
}
.wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.wrapper .icon {
    font-size: 100px;
    color: #9658FE;
}
.wrapper .text {
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
}
.clear-image-preview i {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #9658FE;
    cursor: pointer;
    display: none;
}
.wrapper .file-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: none;
    background: linear-gradient(135deg,#3A8FFE 0%,#9658FE 100%);
}
.wrapper.active:hover .file-name {
    display: block;
}
.container-fluid #custom-btn {
    margin-top: 20px;
    display: center;
    width:100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#3A8FFE 0%,#9658FE 100%);
}
canvas {
    width: 100%;
    height: 100%;
    position: relative;
}
.modal-body section {
    display: flex;
    justify-content: center;
}
label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  
  .selectpicker {
    width: 60px;
    height: 30px;
    padding: 5px;
    border-radius: 8px;
    color: #04a86f;
    font-size: 16px;
    cursor: pointer;

  }
  

  .selectpicker option {
    padding: 10px;
  }
    
  .selectpicker:focus {
    border-color: rgba(5, 166, 72, 0.872);
    box-shadow: 0 0 0 0.2rem rgba(14, 221, 52, 0.952)
    
  }
  span.page-number {
    font-size: 14px; 
    color: #0d72d7; 
    font-weight: bolder;
    margin: 0 10px; 
  }
  form.d-flex {
    position: relative;
    
  }
  
  form.d-flex i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #2e7cf0;
  
  }
  
  form.d-flex input {
    padding-left: 50px; 
    border-radius:5px; 
    border: 1px solid #5b605c; 
  }
  

  form.d-flex input:focus {
    outline: none; 
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
 .numberpage {
    color: #000000!important;
    margin-right: 10px;
    font-weight: bold; 
   
  }
  label.mb-4 {
    align-items: center;
    height: 100%;
  }
   
  
  label .numberpage {
    color: red; 
    font-weight: bold;
    margin-left: 30px; 
    font-size: 18px;
    line-height: 35px;
  }
  
  select.selectpicker {
    width: 20%;
    text-align: center;
  }
  .swal2-popup {
    font-size: 0.7rem; 
  }
  

  .swal2-close {
    font-size: 0.6rem;
  }
  
  
  .swal2-title {
    font-size: 1rem; 
  }
  
 
  .swal2-content {
    font-size: 0.7rem; 
  }
